.PercentageItem-Wrapper {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #fff;
}

.PercentageItem-Wrapper:last-of-type{
  border-bottom: none;
}

.PercentageItem-minMaxWrapper {
  display: flex;
  flex-direction: row;
  min-width: 50%;
  justify-content: space-evenly;
}

.PercentageItem-gradeWrapper {
  min-width: 50%;
}